@using Funpoly.Core
@inject IGameManager gameManager

@if (isInitialized)
{
    <div class="team-item" style="border-color: @Team.Color" @onclick="@ShowPlayerModal">
        @Team.Name: @Team.Cash €
        @if (IsBanker)
        {
            <Icon Style="margin-right: 10px; position: absolute; right: 0;" Name="IconName.Edit" @onclick="@ShowBankerModal"></Icon>
        }
    </div>

    <Modal @ref="bankerModalRef">
        <ModalContent Centered="true">
            <ModalHeader>
                <ModalTitle>Editar dinero</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Heading Size="HeadingSize.Is3">@Team.Name</Heading>

                <Field>
                    <NumericEdit @bind-Value="@bankerModalCash" />
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@(() => HideModal(bankerModalRef))">Cancelar</Button>
                <Button Color="Color.Primary" Clicked="@ModifyTeamCash">Guardar</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    <Modal @ref="playerModalRef">
        <ModalContent Centered="true">
            <ModalHeader>
                <ModalTitle>Zumbi para @Team.Name</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Validation Validator="@ValidatePayment">
                    <Field>
                        <FieldLabel>Cantidad</FieldLabel>
                        <NumericEdit @bind-Value="@playerModalCash" />
                        <ValidationError></ValidationError>
                    </Field>
                </Validation>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@(() => HideModal(playerModalRef))">Cancelar</Button>
                <Button Disabled="playerModalCash <= 0" Color="Color.Primary" Clicked="@SendTransfer">Enviar</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}