@using Funpoly.Core
@using Funpoly.Data.Models

@inject IGameManager gameManager

<Column>
    @foreach (var team in gameManager.GetGame().Teams)
    {
        <MoneyListItem Team="team"></MoneyListItem>
    }

    @if (!IsBanker)
    {
        <GenericButton Text="Pagar a la banca"
                       Color="Color.Primary"
                       OnClick="@OnBankButtonClick"></GenericButton>
    }
</Column>

<Modal @ref="modalRef">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Zumbi a la Banca</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>

            <Validation Validator="@ValidatePayment">
                <Field>
                    <FieldLabel>Cantidad</FieldLabel>
                    <NumericEdit Autofocus="true" @bind-Value="@modalCash" />
                    <ValidationError></ValidationError>
                </Field>
            </Validation>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Cancelar</Button>
            <Button Disabled="@(modalCash <= 0)" Color="Color.Primary" Clicked="@SaveChanges">Enviar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>