@using Funpoly.Core
@using Funpoly.Data.Repositories.Interfaces
@using Funpoly.Data.Models
@inject IRepository<SurpriseCard> surpriseCardRepository
@inject IRepository<Transport> transportRepository
@inject IGameManager gameManager

<Column>
    <Row>
        <Column>
            <BankerActionListItem IconSource="image/speed.png"
                                  ModalTitle="Multar por exceso de velocidad"
                                  ModalAction="ShowSpeedModal">
            </BankerActionListItem>
        </Column>

        <Column>
            <BankerActionListItem IconSource="image/surprise.png"
                                  ModalTitle="Coger tarjeta sorpresa"
                                  ModalAction="GetSurpriseCard">
            </BankerActionListItem>
        </Column>
    </Row>

    <Row>
        <Column>
            <BankerActionListItem IconSource="image/lottery.png"
                                  ModalTitle="Entregar lotería"
                                  ModalAction="GiveLotteryPrize">
            </BankerActionListItem>
        </Column>

        <Column>
            <BankerActionListItem IconSource="image/turn.png"
                                  ModalTitle="Registrar vuelta"
                                  ModalAction="ShowLapModal">
            </BankerActionListItem>
        </Column>
    </Row>
</Column>

<Modal @ref="@surpriseCardModalRef">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>
                Carta sorpresa
            </ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Label>
                @surpriseCardText
            </Label>
        </ModalBody>
    </ModalContent>
</Modal>

<Modal @ref="@registerLapModalRef">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>
                Registrar vuelta
            </ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Nuevo transporte</FieldLabel>
                <Select TValue="int" @bind-SelectedValue="@modalTransportId">
                    @foreach (var transport in availableTransports)
                    {
                        <SelectItem Value="@transport.Id">
                            @transport.Name
                        </SelectItem>
                    }
                </Select>
            </Field>
            <Field>
                <FieldLabel>Días empleados en la vuelta</FieldLabel>
                <NumericEdit @bind-Value="modalTravelDays" />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="HideLapModal">Cancelar</Button>
            <Button Color="Color.Primary" Clicked="RegisterLap">Aceptar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="@speedLimitModalRef">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>
                Multa por velocidad a equipo @speedModalTeam.Name
            </ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>

            <Field>
                <FieldLabel>¿Multar con 100 €?</FieldLabel> @*TODO: Settings*@
                <Check @bind-Checked="speedModalFine" />
            </Field>

            <Field>
                <FieldLabel>¿Amonestar?</FieldLabel>
                <Check @bind-Checked="speedModalReprimand" />
            </Field>

            <Label>Amonestaciones: @speedModalTeam.ConsecutiveSixes</Label>
            @if (@speedModalTeam.ConsecutiveSixes == 2 && speedModalReprimand)
            {
                <Label>3 amonestaciones consecutivas. ¡@speedModalTeam.Name debe ir a la cárcel!</Label>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="HideSpeedModal">Cancelar</Button>
            <Button Color="Color.Primary" Clicked="FinePerSpeedLimit">Aceptar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>