@using Funpoly.Core
@inject IGameManager gameManager

@if (isInitialized)
{
    <div class="team-item" style="border-color: @Team.Color">
        @Team.Name
        @if (IsBanker)
        {
            <Icon Style="margin-right: 10px; position: absolute; right: 0;" Name="IconName.Edit" @onclick="ShowModal"></Icon>
        }
    </div>

    <Modal @ref="modalRef">
        <ModalContent Centered="true">
            <ModalHeader>
                <ModalTitle>Editar equipo</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Nombre</FieldLabel>
                    <TextEdit @bind-Text="@modalTeam.Name" />
                </Field>

                <Field>
                    <FieldLabel>Color</FieldLabel>
                    <RadioGroup TValue="string" @bind-CheckedValue="@modalTeam.Color" Name="Color" Buttons="true">
                        <Radio TValue="string" Value="@("#00B0F0")">Azul</Radio>
                        <Radio TValue="string" Value="@("#C00000")">Rojo</Radio>
                        <Radio TValue="string" Value="@("#FFC000")">Amarillo</Radio>
                        <Radio TValue="string" Value="@("#92D050")">Verde</Radio>
                    </RadioGroup>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Cancelar</Button>
                <Button Color="Color.Primary" Clicked="@SaveChanges">Guardar</Button>
                <Button Color="Color.Danger" Clicked="@DeleteTeam">Eliminar</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}