@using Funpoly.Core
@inject IGameManager gameManager

<Tooltip Text="@Postcard.Parcel.Name">
    <Figure Class="mt-auto mb-auto" Size="FigureSize.Is32x32" @onclick="OnPostcardClick">
        <FigureImage Source="@(postcardTeam != null ? "image/stamp-white.png" : "image/stamp-gray.png")"></FigureImage>
    </Figure>
</Tooltip>

<Modal @ref="modalRef">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Entrega de postal</ModalTitle>
            <CloseButton></CloseButton>
        </ModalHeader>
        <ModalBody>
            ¿@(postcardTeam != null ? "Quitar" : "Entregar") la postal @Postcard.Parcel.Name al equipo @Team.Name?
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Cancelar</Button>
            <Button Color="Color.Primary" Clicked="@SaveChanges">Aceptar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>