@using Funpoly.Core
@inject IGameManager gameManager

<Tooltip Text="@Postcard.Parcel.Name">
    @{ var postcardIconClass = "postcard-icon " + (postcardTeam != null ? "owned" : "missing");}
    <div class="@postcardIconClass" @onclick="OnPostcardClick">
        @Postcard.ParcelId
    </div>
</Tooltip>

<Modal @ref="modalRef">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Entrega de postal</ModalTitle>
            <CloseButton></CloseButton>
        </ModalHeader>
        <ModalBody>
            ¿@(postcardTeam != null ? "Quitar" : "Entregar") la postal @Postcard.Parcel.Name al equipo @Team.Name?
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Cancelar</Button>
            <Button Color="Color.Primary" Clicked="@SaveChanges">Aceptar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="imageModalRef">
    <ModalContent Centered="true" Size="ModalSize.Small">
        <ModalHeader>
            <ModalTitle>@Postcard.Parcel.Name</ModalTitle>
            <CloseButton></CloseButton>
        </ModalHeader>
        <ModalBody>
            <Figure>
                <FigureImage Source="@("image/postcards/"+Postcard.Id+".jpg")"></FigureImage>
            </Figure>
        </ModalBody>
    </ModalContent>
</Modal>