@using Funpoly.Core
@using Funpoly.Data.Models
@using Funpoly.Data.Repositories.Interfaces
@inject IGameManager gameManager
@inject IRepository<ParcelProperty> parcelPropertyRepository

<div class="team-item" style="border-color: @GetParcelColor()" @onclick="@ShowDisplayModal">
    @if (parcelProperty != null && parcelProperty.HotelBuilt)
    {
        <Icon Style="margin-left: 10px; position: absolute; left: 0;"
              Name="IconName.Hotel"></Icon>
    }
    @Parcel.Name
    @if (IsBanker)
    {
        <div style="margin-right: 10px; position: absolute; right: 0;" @onclick:stopPropagation="true">
            <Icon Name="IconName.Edit" @onclick="ShowModal" />
        </div>
    }
</div>

<Modal @ref="modalRef">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Editar parcela @Parcel.Name</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Asignar parcela</FieldLabel>
                <Select TValue="int" @bind-SelectedValue="@modalTeamId">
                    @foreach (var team in gameManager.GetGame().Teams)
                    {
                        <SelectItem Value="@team.Id">
                            <div class="team-item" style="border-color: @team.Color">
                                @team.Name
                            </div>
                        </SelectItem>
                    }
                    <SelectItem Value="0">
                        <div class="team-item" style="border-color: darkgray">
                            Ninguno
                        </div>
                    </SelectItem>
                </Select>
            </Field>

            <Field>
                <FieldLabel>Número de compras/recompras (para incrementar valor de recompra)</FieldLabel>
                <NumericEdit @bind-Value="@modalPurchasesCount"></NumericEdit>
            </Field>

            <Field>
                <FieldLabel>Hotel construido</FieldLabel>
                <Check Disabled="@(modalTeamId == 0)" @bind-Checked="@modalHotelBuilt">
                </Check>
            </Field>

            <Label>Servicios</Label>
            <Fields>
                <Field>
                    <FieldLabel>Wifi</FieldLabel>
                    <Check Disabled="@(modalTeamId == 0 || !modalHotelBuilt)" @bind-Checked="@modalWifi"></Check>
                </Field>

                <Field>
                    <FieldLabel>Buffet</FieldLabel>
                    <Check Disabled="@(modalTeamId == 0 || !modalHotelBuilt)" @bind-Checked="@modalBuffet"></Check>
                </Field>

                <Field>
                    <FieldLabel>Parking</FieldLabel>
                    <Check Disabled="@(modalTeamId == 0 || !modalHotelBuilt)" @bind-Checked="@modalParking"></Check>
                </Field>

                <Field>
                    <FieldLabel>Piscina</FieldLabel>
                    <Check Disabled="@(modalTeamId == 0 || !modalHotelBuilt)" @bind-Checked="@modalPool"></Check>
                </Field>
            </Fields>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Cancelar</Button>
            <Button Color="Color.Primary" Clicked="@SaveChanges">Guardar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="displayModalRef">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Información parcela @Parcel.Name</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Column>
                <Row>
                    <Label>Precio de compra: @(Parcel.Price.ToString("0.##")) €</Label>
                </Row>
                @if (parcelProperty != null)
                {
                    <Row>
                        <Label>Precio de recompra: @((Parcel.Price*Convert.ToDecimal(Math.Pow(Convert.ToDouble(gameManager.GetSettings().RepurchaseMultiplier), parcelProperty.PurchasesCount))).ToString("0.##")) €</Label>
                    </Row>
                }
                <Row>
                    <Label>Coste construcción hotel: @Parcel.HotelPrice.ToString("0.##") €</Label>
                </Row>
                <Row>
                    <Label>Coste de estancia sin hotel: @((Parcel.Price*gameManager.GetSettings().RawPropertyTaxPriceMultiplier).ToString("0.##")) €</Label>
                </Row>
                <Row>
                    <Label>Coste de estancia con hotel: @((Parcel.Price*gameManager.GetSettings().RawPropertyTaxPriceMultiplier*gameManager.GetSettings().HotelPropertyTaxMultiplier).ToString("0.##")) €</Label>
                </Row>
                <Row>
                    <Label>Incremento por cada servicio: @(gameManager.GetSettings().ServicePropertyTaxIncrement) €</Label>
                </Row>
                <Row>
                    <Label>Incremento con las 4 parcelas del continente: x@(gameManager.GetSettings().FourPropertiesTaxMultiplier.ToString("0.##"))</Label>
                </Row>

                <Row>
                    <Label>Propietario: @(parcelProperty?.Team.Name ?? "Ninguno" )</Label>
                </Row>
                <Row>
                    <Label>Hotel construido: @((parcelProperty?.HotelBuilt ?? false) ? "Sí" : "No")</Label>
                </Row>
                <Row>
                    <Label>Wifi: @((parcelProperty?.WifiServiceAvailable ?? false) ? "Sí" : "No")</Label>
                </Row>
                <Row>
                    <Label>Buffet: @((parcelProperty?.BuffetServiceAvailable ?? false) ? "Sí" : "No")</Label>
                </Row>
                <Row>
                    <Label>Parking: @((parcelProperty?.ParkingServiceAvailable ?? false) ? "Sí" : "No")</Label>
                </Row>
                <Row>
                    <Label>Piscina: @((parcelProperty?.PoolServiceAvailable ?? false) ? "Sí" : "No")</Label>
                </Row>
                <Row>
                    <Label>Coste actual de la estancia: @currentParcelTax.ToString("0.##") €</Label>
                </Row>
            </Column>
        </ModalBody>
    </ModalContent>
</Modal>