@using Funpoly.Core
@using Funpoly.Data.Models
@inject IGameManager gameManager

<div class="team-item" style="border-color: @GetParcelColor()">
    @if (parcelProperty != null && parcelProperty.HotelBuilt)
    {
        <Icon Style="margin-left: 10px; position: absolute; left: 0;"
              Name="IconName.Hotel"></Icon>
    }
    @Parcel.Name
    @if (IsBanker)
    {
        <Icon Style="margin-right: 10px; position: absolute; right: 0;" Name="IconName.Edit" @onclick="@ShowModal"></Icon>
    }
</div>

<Modal @ref="modalRef">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Editar parcela @Parcel.Name</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Asignar parcela</FieldLabel>
                <Select TValue="int" @bind-SelectedValue="@modalTeamId">
                    @foreach (var team in gameManager.GetGame().Teams)
                    {
                        <SelectItem Value="@team.Id">
                            <div class="team-item" style="border-color: @team.Color">
                                @team.Name
                            </div>
                        </SelectItem>
                    }
                    <SelectItem Value="0">
                        <div class="team-item" style="border-color: darkgray">
                            Ninguno
                        </div>
                    </SelectItem>
                </Select>
            </Field>

            <Field>
                <FieldLabel>Hotel construido</FieldLabel>
                <Check Disabled="@(modalTeamId == 0)" @bind-Checked="@modalHotelBuilt"></Check>
            </Field>

            <Label>Servicios</Label>
            <Fields>
                <Field>
                    <FieldLabel>Wifi</FieldLabel>
                    <Check Disabled="@(modalTeamId == 0)" @bind-Checked="@modalWifi"></Check>
                </Field>

                <Field>
                    <FieldLabel>Buffet</FieldLabel>
                    <Check Disabled="@(modalTeamId == 0)" @bind-Checked="@modalBuffet"></Check>
                </Field>

                <Field>
                    <FieldLabel>Parking</FieldLabel>
                    <Check Disabled="@(modalTeamId == 0)" @bind-Checked="@modalParking"></Check>
                </Field>

                <Field>
                    <FieldLabel>Piscina</FieldLabel>
                    <Check Disabled="@(modalTeamId == 0)" @bind-Checked="@modalPool"></Check>
                </Field>
            </Fields>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Cancelar</Button>
            <Button Color="Color.Primary" Clicked="@SaveChanges">Guardar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>